*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    height: 700px;
    /* border: 2px solid black; */
    /* background-color: gray; */
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:15% 20% 65% ;
    grid-template-areas: "header1 header1 header1 header1"
                         "header2 header2 header2 header2"
                         "card1 card2 card3 card4";
    row-gap: 20px;
    column-gap: 10px;
}
.header1{
    background-color: blue;
    grid-area: header1;
}
.header2{
    background-color: aqua;
    grid-area: header2;
}
.card1{
    background-color: blueviolet;
    grid-area: card1;
}
.card2{
    background-color: rgb(105, 87, 122);
    grid-area: card2;
}
.card3{
    background-color: rgb(181, 176, 185);
    grid-area: card3;
}
.card4{
    background-color: blueviolet;
    grid-area: card4;
}